body {
  margin: 0;
  padding: 0;
  font-family: 'Georgia', serif;
  color: white;
  background-color: #000;
}

.livros-banner {
  background-image: url('../img/Harry-Potter-Background.jpg'); 
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
}

.texto-central h3 {
  font-size: 18px;
  letter-spacing: 2px;
  color: #ccc;
  margin-bottom: 10px;
}

.texto-central h1 {
  font-size: 60px;
  font-weight: bold;
  margin: 10px 0;
}

.texto-central p {
  font-size: 16px;
  max-width: 700px;
  margin: 0 auto;
}
.galeria-livros {
  background-color: #121212;
  padding: 60px 20px;
}

.grid-livros {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.livro {
  color: white;
  transition: transform 0.3s ease;
}

.livro:hover {
  transform: scale(1.05);
}

.livro img {
  width: 100%;
  height: auto;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}

.livro .numero {
  margin: 10px 0 5px;
  font-size: 18px;
  font-weight: bold;
  color: #ccc;
  font-family: 'Georgia', serif;
}

.livro p {
  font-size: 14px;
  color: #f0f0f0;
}